version: '3.3'

services:
  traefik:
    image: 'traefik:v2.8'
    container_name: 'traefik'
    command:
      #- "--log.level=DEBUG"
      - '--api.insecure=true'
      - '--providers.docker=true'
      - '--providers.docker.exposedbydefault=false'
      - '--entrypoints.web.address=:80'
    ports:
      - '80:80'
      - '8080:8080'
    volumes:
      - '/var/run/docker.sock:/var/run/docker.sock:ro'

  # whoami:
  #   image: "traefik/whoami"
  #   container_name: "simple-service"
  #   labels:
  #     - "traefik.enable=true"
  #     - "traefik.http.routers.whoami.rule=Host(`api.nody.live`)"
  #     - "traefik.http.routers.whoami.entrypoints=web"

  api-swagger:
    build: .
    restart: always
    ports:
      - '3000:3000'
    labels:
      - 'traefik.enable=true'
      - 'traefik.http.routers.font-end.rule=Host(`api.nody.live`)'
      - 'traefik.http.routers.font-end.entrypoints=web'
      - 'traefik.http.services.font-end.loadbalancer.server.port=3000'
