@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Inter:wght@100..900&display=swap');

body {
  margin: 0px;
}
.redoc-wrap {
  background-color: #121212 !important;
  color: #ffffff;
}

h5 {
  color: #ffffff !important;
}

a[href="https://redocly.com/redoc/"]
{
  display: none !important;
}
